<novo-loading *ngIf="loading"></novo-loading>
<app-structured-seo *ngIf="!loading" [jobData]="job"></app-structured-seo>

<!-- Job Detail Content -->
<section id="registerd-section" *ngIf="!loading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="go-back" (click)="goToJobList()">{{ 'Go Back' | translate}}</a>
                <h6>{{ job.publishedCategory?.name }}</h6>
            </div>
        </div>
        <div class="row">	
            <div class="col-md-12">
                <h3>{{job.title}}</h3>

                <ng-container *ngFor="let chip of jobInfoChips" [ngSwitch]="chip.type || 'string'">

                    <ng-container *ngSwitchCase="'string'">
                        <span class="job">Job Type: <strong>{{ job[chip?.field] || job[chip] }}</strong></span>
                    </ng-container>
                    
                    <ng-container *ngSwitchCase="'mediumDate'">
                        <span class="date">Date Posted: <strong>{{ job[chip?.field] | date: 'mediumDate'}}</strong></span>
                    </ng-container>

                    <ng-container  *ngSwitchCase="'dateTime'">
                        <span class="date">Date Posted: <strong>{{ job[chip?.field] | date: 'medium'}}</strong></span>
                    </ng-container>

                </ng-container>

                <span class="address" *ngIf="job.address.city || job.address.state" >Address: <strong>{{ job.address.city }}</strong> <strong *ngIf="job.address.state">, {{ job.address.state }}</strong></span>
            </div>
        </div>
        <div class="row job-description">
            <div class="col-md-12" [innerHTML]="job.publicDescription">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 responsible">

                <a class="button-1" *ngIf="!alreadyApplied" (click)="apply()">{{ 'APPLY_NOW' | translate }}</a>
                <a class="button-1" *ngIf="alreadyApplied" disabled="true">{{ 'ALREADY_APPLIED' | translate }}</a>

                <a class="button-3" (click)="print()">Print Details</a>
                
                <a class="button-2" (click)="toggleShareButtons()" *ngIf="!showShareButtons">Share This Job</a>

                <div class="share job-detail-share">
                    <button theme="icon" icon="email" (click)="emailLink()" *ngIf="showShareButtons"></button>
                    <button theme="icon" icon="twitter" (click)="shareTwitter()" *ngIf="showShareButtons"></button>
                    <button theme="icon" icon="facebook" (click)="shareFacebook()" *ngIf="showShareButtons"></button>
                    <button theme="icon" icon="linkedin" (click)="shareLinkedin()" *ngIf="showShareButtons"></button>
                </div>

                

            </div>
        </div>
    </div>
</section>
