<novo-loading *ngIf="loading && !error"></novo-loading>
<div class="error-state" *ngIf="error">
  <i class="bhi-caution"></i>
  <span>{{ 'ERROR_HAS_OCCURED' | translate }}</span>
</div>

<section class="frame" id="job-listings" [ngStyle]="{display: loading || error ? 'none': 'flex'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h3 class="sidebar-heading">Manage Results</h3>
                <div class="left-side-bar">
                    <app-sidebar (newFilter)="onSidebarFilter($event)" [display]="displaySidebar" (toggleSidebar)="toggleSidebar($event)" [ngStyle]="sidebarCss"></app-sidebar>
                </div>
            </div>
            <!-- JOB LISTING -->
            <div class="col-md-9">
                <app-job-list [filterCount]="filterCount" [filter]="listFilter" [sidebarVisible]="displaySidebar" (displaySidebar)="toggleSidebar($event)" (showLoading)="handleListLoad($event)" (showError)="handleError($event)"></app-job-list>
            </div>
        </div>
     </div>
</section>
