
<!-- Join Now Bottom Call to action -->
<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>JOIN MEDMETRY TODAY.</h2>
                <p>Experience the Medmetry difference by speaking to a personal recruiter today!</p>
                <a class="button-2" href="http://medmetry.net/find-jobs/">Join Now</a>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img class="img-responsive" src="assets/img/logo.png" alt=""></a>
                <h6>Address:</h6>
                <p>18851 NE 29th Ave Suite 700 Aventura FL 33180</p>
                <h6>Phone:</h6>
                <p>(833) 339 0093</p>
                <h6>Email:</h6>
                <p><a href="mailto:contact@medmetry.com">contact@medmetry.com</a></p>
            </div>
            <div class="col-md-3">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="http://medmetry.net/">Home</a></li>
                    <li><a href="http://medmetry.net/about/">About</a></li>
                    <li><a href="http://medmetry.net/health-staffing/">Healthcare Staffing</a></li>
                    <li><a href="http://medmetry.net/consulting/">Consulting</a></li>
                    <li><a href="http://medmetry.net/find-jobs/">Jobs</a></li>
                    <li><a href="http://medmetry.net/news-feed/">News</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Services</h4>
                <ul>
                    <li><a href="http://medmetry.net/health-staffing/#following-services">Physician staffing</a></li>
                    <li><a href="http://medmetry.net/health-staffing/#following-services">Nurse staffing</a></li>
                    <li><a href="http://medmetry.net/health-staffing/#following-services">Specialized healthcare staffing</a></li>
                    <li><a href="http://medmetry.net/health-staffing/#following-services">Respiratory therapy staffing</a></li>
                    <li><a href="http://medmetry.net/health-staffing/#following-services">Project Management</a></li>
                    <li><a href="http://medmetry.net/health-staffing/#following-services">Implementation</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Jobs</h4>
                <ul>
                    <li><a href="http://jobs.medmetry.com/">Providers</a></li>
                    <li><a href="http://jobs.medmetry.com/">Nurses</a></li>
                    <li><a href="http://jobs.medmetry.com/">Respiratory Therapists</a></li>
                    <li><a href="http://jobs.medmetry.com/">Technicians</a></li>
                    <li><a href="http://jobs.medmetry.com/">All Positions </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr>
            <p class="text-center">Copyright © 2020 MEDMETRY INC. All Rights Reserved.</p>
        </div>
    </div>
</footer>                                                   `