
<!-- Join Now Bottom Call to action -->
<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Join Medmetry Now to find Your Needs</h2>
                <p>Medmetry is always happy to cover all travel and lodging costs, so that employees don’t have to wait for reimbursement.</p>
                <a class="button-2">Join Now</a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img class="img-responsive" src="assets/img/logo.png" alt=""></a>
                <h6>Address:</h6>
                <p>18851 NE 29th Ave Suite 700 Aventura FL 33180</p>
                <h6>Phone:</h6>
                <p>(833) 339 0093</p>
                <h6>Email:</h6>
                <p><a href="mailto:contact@medmetry.com">contact@medmetry.com</a></p>
            </div>
            <div class="col-md-3">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="compare-offers.html">Compare Offers</a></li>
                    <li><a href="services.html">Healthcare Staffing</a></li>
                    <li><a href="consulting.html">Consulting</a></li>
                    <li><a href="find-jobs.html">Jobs</a></li>
                    <li><a href="news.html">News</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Services</h4>
                <ul>
                    <li><a href="services.html#following-services">Physician staffing</a></li>
                    <li><a href="services.html#following-services">Nurse staffing</a></li>
                    <li><a href="services.html#following-services">Specialized healthcare staffing</a></li>
                    <li><a href="services.html#following-services">Respiratory therapy staffing</a></li>
                    <li><a href="services.html#following-services">Project Management</a></li>
                    <li><a href="services.html#following-services">Implementation</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Jobs</h4>
                <ul>
                    <li><a href="find-jobs.html#providers">Providers</a></li>
                    <li><a href="find-jobs.html#nurses">Nurses</a></li>
                    <li><a href="find-jobs.html#therapists">Respiratory Therapists</a></li>
                    <li><a href="find-jobs.html#technicians">Technicians</a></li>
                    <li><a href="job-listings.html">All Positions </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr>
            <p class="text-center">Copyright © 2020 MEDMETRY INC. All Rights Reserved.</p>
        </div>
    </div>
</footer>