<div class="innerpages-banner single-job" id="home">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-md-2 col-sm-6 col-xs-10">
                    <div class="navbar-header">
                      <a href="/">	
                            <img class="img-responsive" src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-md-10 col-sm-6 col-xs-2">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="http://jobs.medmetry.com">Jobs</a></li>
                        <li><a href="https://medmetry.com/health-staffing/">Health Staffing</a></li>
                        <li><a href="https://medmetry.com/consulting/">Consulting</a></li>
                        <li><a href="https://medmetry.com/about/">About</a></li>
                        <li><a href="https://medmetry.com/news-feed/">News</a></li>
                        <li><a href="https://medmetry.bbo.bullhornstaffing.com/Login/">Login</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>